<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mi</title>
</head>
<body>


    <br><br><br>
    <p style="text-align: center;">Hola soy Gustavo Gilardoni, soy de Rosario, Santa Fe, Argentina,</p>
    <p style="text-align: center;">naci el 25/10/2002 asi que al dia de la fecha (31/03/2023) tengo 20 años</p>

    <a href="{% url 'Inicio' %}">Volver al Inicio</a>



</body>
</html>